html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.item-1 {
  grid-area: header;
  background-color: #b03532;
}
.item-2 {
  background-color: #33a8a5;
  grid-area: main;
}
.item-3 {
  grid-area: side;
  background-color: #30997a;
}
.item-4 {
  grid-area: footer;
  background-color: #6a478f;
}
.item-5 {
  grid-area: item5;
  background-color: #da6f2b;
}
.item-6 {
  grid-area: item6;
  background-color: #3d8bb1;
}
.item-7 {
  grid-area: item7;
  background-color: #e03f3f;
}
section.g1 {
  padding: 10px;
  background-color: #888888;
  display: grid;
  grid-template: "header header header" 100px "main main side" auto "footer footer footer" 100px;
  gap: 10px;
}

section.g1 div.item-2 {
  padding: 10px;
  display: grid;
  grid-template: "item5 item5 item5" 100px "item6 item6 item7" 100px;
  gap: 10px;
}

div.item-2 > div {
  padding: 10px;
}
.g1 > div {
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}
