.test {
    background: gray;
    width: 200px;
    height: 200px;
    cursor: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png'), auto;
}

p::selection {
    background-color: #8e44ad;
    color: rgb(109, 255, 223);
}