body {
    background-color: #39c0ff;
}

img#imgHamburguesa {
    float: right;
    margin: 10px;
    padding-left: 30px;
}

.container {
    min-width: 600px;
    min-height: 300px;
    border: 3px solid #394dff;
    border-radius: 1em;
    background-color: #ffffff;
    width: 60%;
    vertical-align: middle;
    margin: auto;
    padding: 30px 25px;

}
body > div.container > p{
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2;
}
ul {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 0;
    list-style-type: none;
}

.side>ul>li {
    display: block;
    font-size: large;
    margin-bottom: 30px;
    font-weight: bold;
    border-bottom: 5px solid #ff0000;
}

.side {
    min-height: 168px;
    min-width: 95px;
    text-align: center;
    width: 7%;
    padding: 10px 5px;
    border: 3px solid #394dff;
    border-radius: 1em;
    background-color: #ffffff;
    float: left;
}

div#footer {
    min-width: 600px;
    padding: 0 28px;
    border-radius: 1em;
    width: 60%;
    color: #ffffff;
    background-color: #000000;
    margin: auto;
}

div#footer>p {
    font-family: "Comic Sans MS", "Comic Sans", bold;
    font-weight: bold;
    text-align: end;
    padding: 5px 0px;
}