body{
    text-align: center;
}

#game{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}
.keyrow {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
}

.keyrow button {
    font-family: inherit;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    padding: 0;
    margin: 0 4px 0 0;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    background-color: lightgrey;
    color: black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.keyrow button[data-state='absent']{
    background-color: #939598;
    color: white;
}
.keyrow button[data-state='present']{
    background-color: #d69a29;
    color: white;
}
.keyrow button[data-state='correct']{
    background-color: #3ca83f;
    color: white;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}